@{
    ViewBag.Title = "Colleague Web API Settings Updated";
}

<div id="Confirmation" class="APISettingstable">
    <section class="content-wrapper main-content clear-fix"><br/>
        <p>The settings were successfully saved. The application has been restarted.</p><br/>
        @Html.ActionLink("Return to Colleague Web API Administration", "Index", "Admin")
    </section><br />
</div>