<?xml version="1.0" encoding="utf-8" ?>
<!-- 
For more information on using XML transformations 
see the examples at http://go.microsoft.com/fwlink/?LinkId=214134. 
-->

<!--
The following transform is setup so that any element of the settings.config
file can be updated (i.e. the xdt:Transform attribute is on the root settings element).
Simply supply the values required for production environments. The default values below 
should be the same as the raw settings.config contained in this project.
-->

<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <colleague>
    <accountName></accountName>
    <ipAddress></ipAddress>
    <port></port>
    <secure>False</secure>
    <certificateHostnameOverride></certificateHostnameOverride>
    <connectionPoolSize>0</connectionPoolSize>
    <sharedSecret></sharedSecret>
    <dasEnvironment></dasEnvironment>
    <dasAddress></dasAddress>
    <dasPort></dasPort>
    <dasSecure>False</dasSecure>
    <dasCertificateHostnameOverride></dasCertificateHostnameOverride>
    <dasConnectionPoolSize>1</dasConnectionPoolSize>
    <dasLogin></dasLogin>
    <dasPassword></dasPassword>
    <useDasDatareader>False</useDasDatareader>
  </colleague>
  <logLevel>Off</logLevel>
  <profileName></profileName>
</settings>