@{
    ViewBag.Title = "Restore Configs";
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">@ViewBag.Title</h2>
</div>

<div id="RestoreConfigbody" class="base">
    <section class="content-wrapper main-content clear-fix">
        <br/><h3>API configuration data restored successfully</h3><br/>
    </section>
</div>