<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Ellucian.Web.Adapters" version="1.0.0.180" targetFramework="net451" />
  <package id="Ellucian.Web.Dependency" version="1.0.0.190" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net40" />
</packages>